/** Styles **/

#colors {
    float: left;
    overflow: hidden;
    width: 280px;
    position: relative; /*added this*/
}

#colors li {
    background-color: maroon;
    color: black;
    cursor: auto;
    font-size: 30px;
    line-height: 100px;
    list-style-position: inside;
    list-style-type: none;
    height: 100px;
    float: left;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#colors li.green { background-color: darkolivegreen;}
#colors li.blue { background-color: darkcyan;}
#colors li.yellow { background-color: orangered;}
#colors li.on { background-color: black;}

p#start { 
    cursor: pointer; 
    color: blue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

p#level {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 34px;
    font-size: 80px;
}

p#start:hover { text-decoration: underline; }
.playing #colors li { cursor: pointer; }
.game-over #colors li { opacity: 0.5; }